/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans utseende */
body {
    background-image: ;
}
.kontainer {
    width: 800px;
    margin: auto;
    padding: 30px;
    background: blueviolet;

}

/* Sidans sidhuvud */
h1 {
margin-bottom: 20px;
font-size: 90px;
}
.intro {
font-size: 30px;
}

/* Bildboxens utseende */
.bild {
    background-image: linear-gradient(to right, #3dade8, #00c6ed, #00dbc8, #00e881, #a8eb12);
    padding: 50px;
    margin-bottom: 30px;
    
}
img {
    width: 400px;
    float: left;
    margin-right: 10px;
}
p {
font-size: 21px;
}
hr {
    visibility: hidden;
    clear: both;
}

/* Sidfotens utseende */