body {
background-color: lightseagreen;
}

table {
border-spacing: 2px;
}

caption {
background-image: url("./bilder/trash_with_liner.jpg");
font-size: 100px;
padding: 20px 20px 500px 20px;
}

tr {

}

th {
padding: 10px;
}

td {
border: 1px solid rgb(143, 6, 6);
border-radius: 20px;
background-color: lawngreen;
}

img {

}