/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
h1{
font-size: 53px;
color: whitesmoke;
font-family: 'Frijole', cursive;
}
h2{
    color: white;
    font-size: 25px;
    margin-right: auto;
    font-family: 'Frijole', cursive;
}
a{
    color: #ffa31a;
    font-family: 'Syne Mono', monospace;
    font-size: 29px;
}
p{
    color: whitesmoke;
    font-size: 18.5px;
    font-family: 'Syne Mono', monospace;
}
.bild1{
    position: relative;top:auto;
    float: left;
    height: 500px;
    width: 380px;
}
.bild2{
    height: 400px;
    width: 400px;   
    float: right;
    position: relative;bottom:-105px;
}
.bild3{
    height: 500px;
    width: 640px;
    position: relative;left: 55px;
}