/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Layoutens utseende */
body {

}
div.Kontainer {
width: 800px;
background: crimson;
margin: auto;
padding: 50px;
}
h1 {
    font-family: 'Concert One', cursive;
text-align: center;
font-size: 60px;
color: forestgreen;
text-shadow: 5px 5px 0px lightgreen;
}

/* Inläggens utseende */
div {
background: darkturquoise;
padding: 20px;
margin-bottom: 30px;
border-radius: 9px;
box-shadow: indigo;
}
img {
width: 100%;
}
h2 {

}
p {

}
